*.pyc
wandb/

# STAC data files
all_snips.p
.ipynb_checkpoints/
policies/
outputs/
tutorial.ipynb
*.mp4
ant_traj_still.p
ant_traj.p
humanoid_traj_stand.p
humanoid_traj.p
transform_snips_250_clip_750.p

# h5 files
*.h5
# mat file
*.mat

.brax-imitation
# Training files
wandb/
model_checkpoints/
# Cluster scripts
scripts/
*.out
# Python 
__pycache__/

.DS_Store
