*.pyc
wandb/

# STAC data files
.ipynb_checkpoints/
policies/
outputs/
tutorial.ipynb
*.mp4

# The full clip data
clips/transform1.p
clips/all_snips.p

# selected reference trajectory
ant_traj_still.p
ant_traj.p
# humanoid_traj_stand.p
# humanoid_traj.p

# h5 files
clips/test_all_clips.h5

# mat file
*.mat

.brax-imitation
# Training files
wandb/
model_checkpoints/
# Cluster scripts
scripts/
*.out
# Python 
__pycache__/

.DS_Store
clips/transform1.p
nohup/

