
*.pyc
wandb/

# STAC data files
all_snips.p
policies/
tutorial.ipynb

# STAC data files
*.p

# h5 files
*.h5
# mat file
*.mat

.brax-imitation
# Training files
wandb/
model_checkpoints/
# Cluster scripts
scripts/
*.out
# Python 
__pycache__/

.DS_Store
