humanoidtracking:
  name: humanoidtracking
  solver: cg
  iterations: 6
  ls_iterations: 6
  clip_path: clips/humanoid_traj_stand.p
  camera: side
  rendering_mjcf: humanoid_pair.xml

humanoidstanding:
  name: humanoidstanding
  solver: cg
  iterations: 6
  ls_iterations: 6
  camera: side

ant:
  name: ant
  solver: newton
  iterations: 1
  ls_iterations: 4
  clip_path: clips/ant_traj_still.p
  camera: track

rodent:
  name: rodent
  scale_factor: 0.9
  solver: cg
  iterations: 6
  ls_iterations: 6
  stac_path: transform_snips.p
  clip_idx: 1
  clip_length: 250
  clip_path: clips/transform_snips_groom.p
  end_eff_names:
    - foot_L
    - foot_R 
    - hand_L
    - hand_R
  appendage_names:
    - foot_L
    - foot_R 
    - hand_L
    - hand_R
    - skull
  walker_body_names:
    - torso
    - pelvis
    - upper_leg_L
    - lower_leg_L
    - foot_L
    - upper_leg_R
    - lower_leg_R
    - foot_R
    - skull
    - jaw
    - scapula_L
    - upper_arm_L
    - lower_arm_L
    - finger_L
    - scapula_R
    - upper_arm_R
    - lower_arm_R
    - finger_R
  joint_names:
    - vertebra_1_extend
    - vertebra_2_bend
    - vertebra_3_twist
    - vertebra_4_extend
    - vertebra_5_bend
    - vertebra_6_twist
    - hip_L_supinate
    - hip_L_abduct
    - hip_L_extend
    - knee_L
    - ankle_L
    - toe_L
    - hip_R_supinate
    - hip_R_abduct
    - hip_R_extend
    - knee_R
    - ankle_R
    - toe_R
    - vertebra_C1_extend
    - vertebra_C1_bend
    - vertebra_C2_extend
    - vertebra_C2_bend
    - vertebra_C3_extend
    - vertebra_C3_bend
    - vertebra_C4_extend
    - vertebra_C4_bend
    - vertebra_C5_extend
    - vertebra_C5_bend
    - vertebra_C6_extend
    - vertebra_C6_bend
    - vertebra_C7_extend
    - vertebra_C9_bend
    - vertebra_C11_extend
    - vertebra_C13_bend
    - vertebra_C15_extend
    - vertebra_C17_bend
    - vertebra_C19_extend
    - vertebra_C21_bend
    - vertebra_C23_extend
    - vertebra_C25_bend
    - vertebra_C27_extend
    - vertebra_C29_bend
    - vertebra_cervical_5_extend
    - vertebra_cervical_4_bend
    - vertebra_cervical_3_twist
    - vertebra_cervical_2_extend
    - vertebra_cervical_1_bend
    - vertebra_axis_twist
    - vertebra_atlant_extend
    - atlas
    - mandible
    - scapula_L_supinate
    - scapula_L_abduct
    - scapula_L_extend
    - shoulder_L
    - shoulder_sup_L
    - elbow_L
    - wrist_L
    - finger_L
    - scapula_R_supinate
    - scapula_R_abduct
    - scapula_R_extend
    - shoulder_R
    - shoulder_sup_R
    - elbow_R
    - wrist_R
    - finger_R
  center_of_mass: torso
  camera: close_profile
  rendering_mjcf: rodent_pair.xml
