env_name: rodent
algo_name: ppo
task_name: track
num_envs: 128
num_timesteps: 3_000_000_000
eval_every: 10_000
episode_length: 150
batch_size: 32
learning_rate: 6e-4
num_minibatches: 32
num_updates_per_batch: 16
clipping_epsilon: 0.3
kl_weight: 1e-4
terminate_when_unhealthy: true
intention_latent_size: 64
encoder_layer_sizes: [512, 512]
decoder_layer_sizes: [512, 512]
